#arrow {
  color: crimson;
  display: inline-block;
}

#arrow:nth-child(1) {
  transform: rotate(320deg);
}

#arrow:nth-child(2) {
  transform: rotate(130deg);
}


.icons {
  display: flex;
  position: relative;
  margin: 4vw;
  height: auto;
  width: auto;
  bottom: 7vw;
  padding: 5vw;
}
.icons i {
  height: 14vw;
  width: 14vw;
  border-radius: 50%;
  color: #665d43;
  background-color: #adb3a8;
  font-size: 10vw;
  display: flex;
  margin: 3vw;
  align-items: center;
  justify-content: center;
  text-shadow: 5px 5px 0 #000, 6px 6px 0 #000, 7px 7px 0 #000;
  animation: textShadowGlow 1.5s infinite alternate;
}
