body {
  justify-content: center;
  align-items: center;
  display: flex;
  background: #3a3b39;
  transition: 0s;
  color: #83764f;
}


@media (max-width: 768px) {
  .main {
    height: auto;
    width: auto;
    border-radius: 0;
  }
  .main .profile {
    width: 80%;
    height: 80%;
    background-size: 80%;
  }
  .main h2 {
    font-size: 8vw;
    margin: 2vw;
  }
  .main h3 {
    font-size: 5vw;
    margin: 1.5vw;
  }
  .main .icons i {
    height: 10vw;
    width: 10vw;
    font-size: 7vw;
    margin: 2vw;
  }
  .pin {
    top: 35vw;
    right: 5vw;
    font-size: 5vw;
    height: 7vw;
    padding: 2vw;
    width: 7vw;
  }
}

.popup {
  position: absolute;
  top: 50px;
  right: -197px;
  transform: translate(-50%, -50%);
  background-color: rgba(
    162,
    163,
    120,
    0.34
  ); /* Ustawienie koloru tła z przejrzystością */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #03001c;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000;
}
